.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.img-list{
  list-style-image: url("file:///Users/santiagoebalaguer/ironhack/labs/lab-bootstrap-cloning-template/starter-code/images/M.png")
}

#header{
  font-size: 3em;
}
#head-div{
  margin-top: 6em;
  margin-left:2em;
}

.jumbotron{
  background: #ffffff;
  height: 30em;
}

.card{
  border: 0px;
}

.black-container{
  margin: 0;
  background: #1c1c1c;
  color: #FFF;
  padding-top: 8em;
  padding-bottom: 8em;
}

