.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.img-list{
  list-style-image: url("file:///Users/santiagoebalaguer/ironhack/labs/lab-bootstrap-cloning-template/starter-code/images/M.png")
}

#header{
  font-size: 3em;
  height: 6em;

}

